<!DOCTYPE html>
<html data-ng-app="wallet">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		
		<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style/ng-wallet-style.css">
		
		<script type="text/javascript" src="js/libs/jquery.min.js"></script>
		<script type="text/javascript" src="js/libs/angular.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-locale_it-it.js"></script>
		<script type="text/javascript" src="js/libs/angular-ui-bootstrap.js"></script>
		<script type="text/javascript" src="js/libs/angular-input-date.js"></script>
		
		<script type="text/javascript" src="js/app.js" defer></script>
		<script type="text/javascript" src="js/app-directives.js" defer></script>
		<script type="text/javascript" src="js/app-filters.js" defer></script>
		<script type="text/javascript" src="js/app-data.js" defer></script>
		<script type="text/javascript" src="js/app-messages.js" defer></script>
		
		<title>ngWallet</title>
	</head>
	<body>
		<div id="alerts">
			<div class="alert alert-danger">
				<strong>Ops!</strong> <span id="errorMessage"></span>
			</div>
		</div>
		<div id="loading">
			<img src="images/ajax-loader.gif" alt="caricamento...">
		</div>
		<header>
			<h1>ngWallet</h1>
			<span id="welcome" data-ng-controller="UserInfoCtrl as ctrl">Hi {{ctrl.userInfo.nickname}}! <a href="{{ctrl.userInfo.logoutUrl}}">logout</a></span>
		</header>
		<main id="walletApp" data-ng-controller="WalletCtrl">
			<div data-filters id="filters">
				<span>total balance: {{balance | currency}}</span>
				<span data-ng-show="isFiltersActive"> | filtered balance: {{filteredBalance | currency}}</span>
				<button class="btn btn-default" id="toggleShowFiltersButton" data-filter data-ng-click="isCollapsed = !isCollapsed" type="button">
					<span data-ng-show="isCollapsed">show filters</span>
					<span data-ng-hide="isCollapsed">hide filters</span>
				</button>
				<div data-collapse="isCollapsed" id="filtersModal">
					<div class="modal-body">
						<div class="filterElement">
							<label for="fromDateFilter">from date</label>
							<input type="date" id="fromDateFilter" data-ng-model="filter.dateFrom" class="form-control">
						</div>
						<div class="filterElement">
							<label for="toDateFilter">to date</label>
							<input type="date" id="toDateFilter" data-ng-model="filter.dateTo" class="form-control">
						</div>
						<div class="filterElement">
							<label>type</label>
							<div class="btn-group btn-group-justified">
								<div class="btn-group">
									<button class="btn btn-default" data-ng-model="filter.amountType" data-btn-radio="'expenditure'" type="button" data-uncheckable>expenditure</button>
								</div>
								<div class="btn-group">
									<button class="btn btn-default" data-ng-model="filter.amountType" data-btn-radio="'income'" type="button" data-uncheckable>income</button>
								</div>
							</div>
						</div>
						<div class="filterElement">
							<label for="chapterFilter">chapter</label>
							<input type="text" id="chapterFilter" data-ng-model="filter.chapter" data-typeahead="chapter for chapter in chapters | filter:$viewValue" placeholder="sport" class="form-control">
						</div>
						<div class="filterElement">
							<label for="descriptionFilter">description</label>
							<input type="text" id="descriptionFilter" data-ng-model="filter.description" placeholder="shoes" class="form-control">
						</div>
					</div>	
					<div class="modal-footer">
						<button data-ng-click="deleteFilters()" class="btn btn-default" type="button">clear filters</button>
					</div>
				</div>
			</div>
			<button id="createEntryButton" class="btn btn-success" data-create-entry data-ng-click="createEntry()" type="button">add entry</button>
			<table class="table" id="entriesTable">
				<thead>
					<tr>
						<th><span class="sortType" data-ng-click="setSortType('date')">date</span></th>
						<th><span class="sortType" data-ng-click="setSortType('chapter')">chapter</span></th>
						<th class="col-md-5">description</th>
						<th><span class="sortType" data-ng-click="setSortType('amount')">amount</span></th>
						<th class="col-md-2">actions</th>
					</tr>				
				</thead>			
				<tbody>
					<tr data-ng-repeat="entry in filteredEntries = ( entries | orderBy: sortType | filter:{chapter:filter.chapter}:exceptEmptyComparator | filter:{description:filter.description} | amountFilter:filter.amountType | dateFilter:{from:filter.dateFrom,to:filter.dateTo} )"> 
						<td>{{entry.date | date: 'dd/MM/yyyy'}}</td>
						<td>{{entry.chapter}}</td>
						<td>{{entry.description}}</td>
						<td>{{entry.amount | currency }}</td>
						<td>
							<button class="btn btn-primary" data-edit-entry data-ng-click="editEntry()" type="button">edit</button>
							<button class="btn btn-danger" data-delete-entry data-ng-click="deleteEntry()" type="button">delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</main>
		
		<footer>
			<span>developed by <a href="http://it.linkedin.com/pub/marco-virgolin/67/5a6/881" target="_blank">Marco Virgolin</a></span>
		</footer>
		
		<script type="text/ng-template" id="editEntryModal.html">						
			<form role="form" name="entryForm" data-ng-submit="save()" novalidate>
				<div class="modal-header">
					<h3 class="modal-title"><span data-ng-show="entry.id">edit</span><span data-ng-show="!entry.id">add</span> entry</h3>
				</div>
				<div class="modal-body">   
					<div class="form-group" data-ng-class="{'has-error': entryForm.date.$invalid && !entryForm.date.$pristine}">        					
						<label for="entryInputDate">date (required)</label>
						<input class="form-control" type="date" name="date" id="entryInputDate" data-ng-model="entry.date" required>
					</div>
					<div class="form-group" data-ng-class="{'has-error': (entryForm.chapter.$invalid && !entryForm.chapter.$pristine)}">
						<label for="entryInputChapter">chapter (required)</label>
						<input class="form-control" type="text" id="entryInputChapter" name="chapter" data-ng-model="entry.chapter" maxlength="50" placeholder="sport" data-typeahead="chapter for chapter in chapters | filter:$viewValue" required>
					</div>
					<div class="form-group">
						<label for="entryInputDescritpion">description</label>
						<textarea id="entryInputDescritpion" name="description" placeholder="tennis shoes" class="form-control" data-ng-model="entry.description" maxlength="150"></textarea>										
					</div>
					<div class="form-group" data-ng-class="{'has-error': (entryForm.amount.$invalid && !entryForm.amount.$pristine)}">
						<label for="entryAmountInput">amount (required)</label>
						<div class="input-group">					
							<input data-currency-input data-ng-pattern="/^(\+|-)?([0-9]+$|[0-9]+(\.|,)?[0-9]{0,2}$)/" id="entryAmountInput" name="amount" placeholder="-27,99" class="form-control" type="text" data-ng-model="entry.amount" data-popover-placement="top" data-popover="Use the minus sign &quot;-&quot; to specify an expenditure" data-popover-trigger="focus" maxlength="36" required><span class="input-group-addon">{{currencySymbol}}</span>			
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" data-ng-click="cancel()" class="btn btn-default">cancel</button>
					<input type="submit" value="save" data-ng-disabled="entryForm.$invalid" class="btn btn-success">
				</div>
			</form>
		</script>		
	</body>
</html>
