header{
	margin-top: 30px;
	margin-bottom: 24px;
}

header > *{
	margin-left: 20px;
}

header>h1{
	display:inline;
	width:50%;
}

header>span#welcome{
	text-align:right;
	float:right;
	margin-right:40px;
}

#alerts{
	position:absolute;
	top:0;
	width:100%;
	text-align:center;
	display:none;
}

#entriesTable{
	margin-top: 12px;
}

#entriesTable span.sortType{
	color: #428bca;
	cursor: pointer;
	font-weight: bold;
}

#entriesTable th, #entriesTable td {
	text-align:center;
}

#createEntryButton {
	margin-left: 20px;
}

#filters{
	width: 50%;
	float:right;
	text-align:right;
}

#filters > #toggleShowFiltersButton{
	margin: 0 40px 0 10px;
}

#filtersModal{
	z-index:2;
	text-align:left;
	background-color: rgba(245, 245, 245, 0.8);
	margin-bottom: 12px;
	position:absolute;
	width: 50%;
}

#filtersModal > div.modal-body > div{
	margin-bottom: 12px;
	margin-left:1%;
}

div.filterElement:nth-child(-n+4){
	float:left;
	width:49%;
}

div.filterElement:nth-child(5){
	clear:both;
}

div#alerts{
	z-index:4;
}

main{
	margin-bottom: 60px;
}

textarea{
	resize: vertical;
}

#loading{
	z-index:3;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(207, 207, 207, 0.4);
}

#loading > img{
	position: absolute;
	left: 50%;
	top: 50%;
}

footer{
	background-color: #f5f5f5;
	z-index:1;
	height: 60px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #999999;
	padding-top: 20px;
	text-align: right;
	padding-right: 40px;
}


